.sidebar {
    display: none;
}

.sidebar.open {
    display: block;
}

.background {
    opacity: 0.3;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-top: 62px;
    gap: 45px;
}

.nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-decoration-line: none;
}

.nav a:hover {
    color: #58ACFF
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}

.close {

}

.close img {

}
