.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #000000;
}

.radio::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.radio:checked::before {
    opacity: 1;
    transform: scale(1);
}

.label {
    display: flex;
    margin-bottom: 12px;
}

.options {
    margin-left: 70px;
}

.span {
    margin-left: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
