.App {
    --header_height: 60px;
    margin: 0 auto;
    max-width: 1140px;
    padding: 131px 70px;
}

.hw {
    max-width: 1140px;
    padding: 24px 70px 32px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 10px;
}