.greetingForm {
    font-family: 'Montserrat';
    font-style: normal;
}

.inputAndButtonContainer {
    display: flex;
    height: 36px;
}

.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;

    margin-top: 7px;
}

.input {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 12px;

    min-width: 370px;
    height: 35px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-right: 12px;
}

.input:focus {
    border: 1px solid #D1D1D1;
}

.errorInput {
    min-width: 370px;
    height: 35px;
    border-radius: 5px;
    margin-right: 12px;
    border: 1px solid #CC0000;
}

.button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 3px;

    padding: 5px 24px;
}

.button:focus {

}

.button:active {

}

.button:disabled {
    opacity: 0.5;
}

.text {
    margin-bottom: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.greetingError {
    margin-top: 30px;
}
