.select {
    width: 165px;
    height: 24px;
    border: 1px solid #C2C2C2;
    padding-left: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.select:focus {
}


.option:hover {
}
